/* General styling */
html {
    /* overflow-x: hidden; */
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0d1b2a;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    /* flex-direction: column; */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.content-container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.content-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #00d4ff;
    position: relative;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

p {
    font-size: 1.5rem;
    color: #ddd;
}

img {
    max-width: 100%;  /* Makes the image responsive */
    height: auto;     /* Maintains the aspect ratio */
    display: block;   /* Removes bottom space caused by inline images */
}


.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.features-section {
    padding: 60px 0;
    background-color: #1a2a38;
}

.features-section .feature-icon {
    font-size: 3rem;
    color: #3498db;
    margin-bottom: 20px;
}

.features-section h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.features-section p {
    font-size: 1.1rem;
    color: #ddd;
}

.team-section {
    background-color: #1a2a38;  /* Dark background to match the site theme */
    color: #fff;                /* Text color */
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00d4ff;
}

.section-subtitle {
    font-size: 1.2rem;
    color: #ddd;
}

.team-member img {
    max-width: 150px;      /* Size of the profile picture */
    border: 4px solid #00d4ff;  /* Border around the profile picture */
    transition: transform 0.3s; /* Smooth hover effect */
    margin-left: 35px;
}

.team-member img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

.team-member h4 {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #00d4ff;
}

.team-member p {
    font-size: 1rem;
    color: #ccc;
}


/* footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    position: relative; /* This keeps the footer from overlapping content */
/* } */

/* footer p {
    margin: 0;
} */
